/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 116rem; // original: 116rem // 1160px
  margin-right: 33.5rem; // original: auto
  margin-left: 33.5rem; // original: auto
}
